body{
	font-size: 2em;
	color: #222;
	background-color: #ede7d6;
	font-family: 'Montserrat', sans-serif;
}

/*Beginning of Header*/

#header-nav{
	border: 0;
	background-color: #fff;
	border-radius: 0;
}

.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1{
	font-family: 'Open Sans', sans-serif;
	color: #222;
	font-style: italic;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #222;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .90;
	padding-top: 10px;

}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

#logo-img{
	background: url('../images/tetra-logo-medium.jpg') no-repeat;
	margin: 10px 15px 30px 0px;
	width: 150px;
	height: 66px;

}

#nav-list{
	margin-top: 10px;
}
#nav-list a{
	text-align: center;
	color: #232422;
}

#nav-list a:hover{
	background: #E7E7E7;
}

#nav-list a span{
	font-size: 1.2em;
}

#phone{
	margin-top: 3px;
}

#phone a{
	text-align: right;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 2px solid #232422;
}

.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;
}

#collapsable-nav a span{
	font-size: 1em;
	margin-right: 5px;
}

/*End of header*/

/*Media Queries*/

@media(min-width: 1200px){

	.container .jumbotron{
		background: url('../images/Jumbotron/hp-jumbo-1200.jpg') no-repeat;
		height: 650px;
		box-shadow: 0 0 50px #1f1f2e;
		border: 2px solid #3F0C1F;
	}

	.container .jumbotron2{
		background: url('../images/Jumbotron/jumbopic_1200.jpg') no-repeat;
		height: 650px;
		box-shadow: 0 0 50px #1f1f2e;
		border: 2px solid #3F0C1F;
	}

}

@media(min-width: 992px) and (max-width: 1199px){

	#logo-img{
	background: url('../images/tetra-logo-medium.jpg') no-repeat;
	margin: 10px 15px 20px 0;
	width: 150px;
	height: 66px;
}

	.container .jumbotron{
		background: url('../images/Jumbotron/hp-jumbo-992.jpg') no-repeat;
		height: 600px;
		box-shadow: 0 0 50px #1f1f2e;
		border: 2px solid #3F0C1F;
	}

	.container .jumbotron2{
		background: url('../images/Jumbotron/jumbopic_992.jpg') no-repeat;
		height: 600px;
		box-shadow: 0 0 50px #1f1f2e;
		border: 2px solid #3F0C1F;
	}


}

@media(min-width: 768px)and (max-width: 991px){

	.container .jumbotron{
		background: url('../images/Jumbotron/hp-jumbo-750.jpg') no-repeat;
		height: 400px;
		box-shadow: 0 0 50px #1f1f2e;
		border: 2px solid #3F0C1F;
	}

	.container .jumbotron2{
		background: url('../images/Jumbotron/jumbopic_750.jpg') no-repeat;
		height: 400px;
		box-shadow: 0 0 50px #1f1f2e;
		border: 2px solid #3F0C1F;
	}


}

@media(max-width: 767px){

	/*HEADER*/

	.navbar-brand{
		padding-top: 10px;
		height: 80px;
	}

	.navbar-brand h1{
		padding-top: 5px;
		font-size: 5vw;
		font-weight: unset;
	}

	/*HEADER ENDS*/

	.example-tile{
	position: relative;
	border: 2px solid #000;
	overflow: hidden;
	max-width: 70%;
	margin: 0 auto 30px;
	}

	#call-button > a{
		font-size: 1.5em;
		display: block;
		margin: 0 20px;
		padding: 10px;
		border: 2px solid #000;
		background-color: #1f1f2e;
		color: #ede7d6;

	}

	#call-button >a:hover{
		background-color: #fff;
		color: #1f1f2e;
	}

	/*FOOTER*/
	.panel-footer section{
		margin-bottom: 30px;
		text-align: center;
	}

	.panel-footer section:nth-child(3){
		margin-bottom: 0;
	}

	.panel-footer section hr{
		width: 50%;
	}


	/*FOOTER ENDS*/

	.container .jumbotron{
		margin-top: 30px;                               
		padding: 0;
		box-shadow: 0 0 50px #1f1f2e;
		border: 2px solid #3F0C1F;
	}

	.container .jumbotron2{
		margin-top: 30px;                               
		padding: 0;
		box-shadow: 0 0 50px #1f1f2e;
		border: 2px solid #3F0C1F;
	}


}

/*End of Media Queries*/

/*Main Page Content*/


/*DESIGN EXAMPLE PAGE*/

.example-tile{
	position: relative;
	border: 4px solid #000;
	overflow: hidden;
	max-width: 100%;
	width: 500px;
	height: 600px;
	margin: 0 auto 30px;
}

.example-tile-v{
	position: relative;
	border: 4px solid #000;
	overflow: hidden;
	max-width: 100%;
	width: 600px;
	height: 450px;
	margin: 0 auto 30px;
}



.example-tile span, .example-tile-v span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	color: #fff;
	background-color: #222;
	opacity: .8;

}

.img-responsive{
	height: inherit;
}

/*DESIGN PAGE END*/

#text-styles{
	font-weight: bold;
}

#text-styles + div{
	margin-bottom: 50px;
}

/*MAP PAGE */

#map-tile{
	height: 450px;
	width: 100%;
	margin-bottom: 15px;
	overflow: hidden;
	border: 3px solid #1f1f2e;
}

#map-tile:hover{
	box-shadow: 0 1px 5px 1px #000;
}

#address-office{
	font-weight: bold;
	font-style: italic;
}
/*End of Main Page*/

/*Footer begins*/

.panel-footer{
	color: #fff;
	background-color: #1f1f2e;
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	border-top: 0;
	border-radius: 0;
}

.panel-footer div.row{
	margin-bottom: 35px;
}

#hours, #address{
	line-height: 2;
}

#hours > span, #address > span, #aboutus > span{
	font-size: 1.3em;
}

#aboutus p{
	font-style: italic;
}

/*End of Footer */

/*New Jumbotron 2*/
.jumbotron2 {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eeeeee;
}

.container .jumbotron2 {
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron2 {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .container .jumbotron2 {
    padding-right: 60px;
    padding-left: 60px;
  }
}

/*New Jumbotron 2 ends*/