body{
	font-size: 2em;
	color: #222;
	background-color: #ede7d6;
	font-family: 'Montserrat', sans-serif;
}

/*Beginning of Header*/

#header-nav{
	border: 0;
	background-color: #fff;
	border-radius: 0;
}

.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1{
	font-family: 'Open Sans', sans-serif;
	color: #222;
	font-style: italic;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #222;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	padding-top: 10px;

}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

#logo-img{
	background: url('../images/tetra-logo-medium.jpg') no-repeat;
	margin: 10px 15px 30px 0px;
	width: 150px;
	height: 66px;

}

#nav-list{
	margin-top: 10px;
}
#nav-list a{
	text-align: center;
	color: #232422;
}

#nav-list a:hover{
	background: #E7E7E7;
}

#nav-list a span{
	font-size: 1.2em;
}

#phone{
	margin-top: 3px;
}

#phone a{
	text-align: right;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 2px solid #232422;
}

.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;
}

/*End of header*/

/*Media Queries*/

@media(min-width: 1200px){

}

@media(min-width: 992px) and (max-width: 1199px){

	#logo-img{
	background: url('../images/tetra-logo-medium.jpg') no-repeat;
	margin: 10px 15px 20px 0;
	width: 150px;
	height: 66px;
}


}

@media(min-width: 768px)and (max-width: 991px){

}

@media(max-width: 767px){
	.navbar-brand{
		padding-top: 10px;
		height: 80px;
	}

	.navbar-brand h1{
		padding-top: 5px;
		font-size: 4vw;
	}

}
