body{
	font-size: 2em;
	color: #222;
	background-color: #ede7d6;
	font-family: 'Montserrat', sans-serif;
}

/*Beginning of Header*/

#header-nav{
	border: 0;
	background-color: #fff;
	border-radius: 0;
}

.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1{
	font-family: 'Open Sans', sans-serif;
	color: #222;
	font-style: italic;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #222;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .90;
	padding-top: 10px;

}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

#logo-img{
	background: url('../images/tetra-logo-medium.jpg') no-repeat;
	margin: 10px 15px 30px 0px;
	width: 150px;
	height: 66px;

}

#nav-list{
	margin-top: 10px;
}
#nav-list a{
	text-align: center;
	color: #232422;
}

#nav-list a:hover{
	background: #E7E7E7;
}

#nav-list a span{
	font-size: 1.2em;
}

#phone{
	margin-top: 3px;
}

#phone a{
	text-align: right;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 2px solid #232422;
}

.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;
}

#collapsable-nav a span{
	font-size: 1em;
	margin-right: 5px;
}

/*End of header*/

/*Media Queries*/

@media(min-width: 1200px){

	.container .jumbotron{
		background: url('../images/jumbopic_1200.jpg') no-repeat;
		height: 500px;
		box-shadow: 0 0 50px #1f1f2e;
		border: 2px solid #3F0C1F;
	}

}

@media(min-width: 992px) and (max-width: 1199px){

	#logo-img{
	background: url('../images/tetra-logo-medium.jpg') no-repeat;
	margin: 10px 15px 20px 0;
	width: 150px;
	height: 66px;
}

	.container .jumbotron{
		background: url('../images/jumbopic_992.jpg') no-repeat;
		height: 400px;
		box-shadow: 0 0 50px #1f1f2e;
		border: 2px solid #3F0C1F;
	}


}

@media(min-width: 768px)and (max-width: 991px){

	.container .jumbotron{
		background: url('../images/jumbopic_750.jpg') no-repeat;
		height: 300px;
		box-shadow: 0 0 50px #1f1f2e;
		border: 2px solid #3F0C1F;
	}


}

@media(max-width: 767px){

	/*HEADER*/

	.navbar-brand{
		padding-top: 10px;
		height: 80px;
	}

	.navbar-brand h1{
		padding-top: 5px;
		font-size: 4vw;
		font-weight: unset;
	}

	/*HEADER ENDS*/

	.example-tile{
	position: relative;
	border: 2px solid #000;
	overflow: hidden;
	max-width: 70%;
	margin: 0 auto 30px;
	}

	/*FOOTER*/
	.panel-footer section{
		margin-bottom: 30px;
		text-align: center;
	}

	.panel-footer section:nth-child(3){
		margin-bottom: 0;
	}

	.panel-footer section hr{
		width: 50%;
	}


	/*FOOTER ENDS*/

	.container .jumbotron{
		margin-top: 30px;                               
		padding: 0;
		box-shadow: 0 0 50px #1f1f2e;
		border: 2px solid #3F0C1F;
	}


}

/*End of Media Queries*/

/*Main Page Content*/

#faltu{
	text-align: center;
}

/*DESIGN EXAMPLE PAGE*/

.example-tile{
	position: relative;
	border: 4px solid #000;
	overflow: hidden;
	max-width: 100%;
	width: 500px;
	height: 600px;
	margin: 0 auto 30px;
}

.example-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	color: #fff;
	background-color: #222;
	opacity: .8;

}

#design-examples-title{
	font-weight: bold;
}

#design-examples-title + div{
	margin-bottom: 50px;
}

/*End of Main Page*/

/*Footer begins*/

.panel-footer{
	color: #fff;
	background-color: #1f1f2e;
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	border-top: 0;
	border-radius: 0;
}

.panel-footer div.row{
	margin-bottom: 35px;
}

#hours, #address{
	line-height: 2;
}

#hours > span, #address > span, #aboutus > span{
	font-size: 1.5em;
}

#aboutus p{
	font-style: italic;
}

/*End of Footer */

